{% extends 'appname/base.html' %}

{% block header %}
<header class="text-center text-white">
  <div class="" style="background-image: url('https://img.extrememanual.net/2018/06/instagram_title.jpg'); background-size: 100% 100%;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="masthead-content">
    <div class="container">
      <h1>Post in your instagram.</h1>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
</header>
{% endblock %}

{% block content %}


<br>
<br>
<br>
<div class="row align-items-center my-5" style="margin-left: 35%">
<div class="col-5">
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <br>
  <input type="submit" value="submit">
</form>
</div>
</div>
<br>
<br>
<br>

{% endblock %}
